requests
tqdm
rich
portalocker
timeout-decorator
pillow==10.2.0
omegaconf
matplotlib
einops
sentencepiece
sty
huggingface_hub
visual_genome
pycocoevalcap
openpyxl
seaborn
tabulate
xlsxwriter
typing_extensions==4.10.0
transformers==4.37.0
accelerate
mmengine
bitsandb==0.43.2