requests
tqdm
rich
portalocker
timeout-decorator
omegaconf
matplotlib
einops
sentencepiece
sty
huggingface_hub
visual_genome
pycocoevalcap
openpyxl
seaborn
tabulate
xlsxwriter
typing_extensions==4.7.1
transformers
accelerate
mmengine
bitsandb